@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Sanskrit&display=swap');


body {
    margin: 0.5;
    padding: 0.5;
    font-family: 'Tiro Devanagari Sanskrit', sans-serif;
}

h1 {
    letter-spacing: 0.7px;
}

#button-submit {
    font-size: 15px;
    letter-spacing: 0.7px;
    text-transform: lowercase;
    color: aliceblue;
    background-color: black;
    border-radius: 30%;
    
}

li {
    list-style-type: none;
}


input[type=checkbox]:checked ~label {
    text-decoration: line-through;
}