@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


body {
    margin: 20px;
    padding: 5px;
    background-color: #FEBDC6;
    color: #020C2B;
    font-family: 'Sedgwick Ave', 'Sedgwick';
}

h1 {
    padding: 10px;
    font-size: 35px;
    letter-spacing: 1px;
}



#tarefa {
    max-width: 80%;
    font-size: 20px;
    background-color: #ffe08b86;
    color: #020C2B;
    border-radius: 8%;
    border-style: double;
    border-color: #8D555E;
}

#tarefa:hover{
    background-color: #FFE08B;
    transition: 0.7s;
}



#button-submit {
    max-width: 12%;
    width: 50px;
    height: 40px;
    padding: 0px;
    letter-spacing: 1.5px;
    font-size: 13px;
    color: aliceblue;
    background-color: #8D555E;
    border-radius: 50%;
    border-style: none;
}

#button-submit:hover {
    height: 41px;
    transition: 0.5s;
}


.container-tarefas {
    max-width: 80vw;
    width: 300px;
    height: 400px;
    margin-top: 16px;
    font-family: 'Pacifico';
    font-size: 20px;
    background-color: #ffe08b86;
    border-radius: 1.5%;
    border-style: double;
    border-color: #8D555E;
    
}

.container-tarefas:hover {
    background-color: #FFE08B;
    transition: 0.7s;
    
}


input[type=checkbox]:checked ~label {
    text-decoration: line-through;
}


li {
    list-style-type: none;
}


